<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.AutostepsMapper">
  <resultMap id="BaseResultMap" type="com.pojo.Autosteps">
    <id column="tsautostepsid" jdbcType="INTEGER" property="tsautostepsid" />
    <result column="tsname" jdbcType="VARCHAR" property="tsname" />
    <result column="tsproductid" jdbcType="INTEGER" property="tsproductid" />
    <result column="tsmoduleid" jdbcType="INTEGER" property="tsmoduleid" />
    <result column="tsselecttype" jdbcType="VARCHAR" property="tsselecttype" />
    <result column="tsselectcontent" jdbcType="VARCHAR" property="tsselectcontent" />
    <result column="tsactiontype" jdbcType="VARCHAR" property="tsactiontype" />
    <result column="tsactioncontent" jdbcType="VARCHAR" property="tsactioncontent" />
    <result column="tsframepath" jdbcType="VARCHAR" property="tsframepath" />
    <result column="tswait" jdbcType="INTEGER" property="tswait" />
    <result column="tsverificationtype" jdbcType="VARCHAR" property="tsverificationtype" />
    <result column="tsverificationcontent" jdbcType="VARCHAR" property="tsverificationcontent" />
    <result column="tscommon" jdbcType="INTEGER" property="tscommon" />
    <result column="tsremarks" jdbcType="VARCHAR" property="tsremarks" />
    <result column="tscreatetime" jdbcType="TIMESTAMP" property="tscreatetime" />
    <result column="tscreator" jdbcType="VARCHAR" property="tscreator" />
  </resultMap>
  <sql id="Base_Column_List">
    tsautostepsid, tsname, tsproductid, tsmoduleid, tsselecttype, tsselectcontent, tsactiontype, 
    tsactioncontent, tsframepath, tswait, tsverificationtype, tsverificationcontent, 
    tscommon, tsremarks, tscreatetime, tscreator
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tsautosteps
    where tsautostepsid = #{tsautostepsid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tsautosteps
    where tsautostepsid = #{tsautostepsid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.pojo.Autosteps">
    insert into tsautosteps (tsautostepsid, tsname, tsproductid, 
      tsmoduleid, tsselecttype, tsselectcontent, 
      tsactiontype, tsactioncontent, tsframepath, 
      tswait, tsverificationtype, tsverificationcontent, 
      tscommon, tsremarks, tscreatetime, 
      tscreator)
    values (#{tsautostepsid,jdbcType=INTEGER}, #{tsname,jdbcType=VARCHAR}, #{tsproductid,jdbcType=INTEGER}, 
      #{tsmoduleid,jdbcType=INTEGER}, #{tsselecttype,jdbcType=VARCHAR}, #{tsselectcontent,jdbcType=VARCHAR}, 
      #{tsactiontype,jdbcType=VARCHAR}, #{tsactioncontent,jdbcType=VARCHAR}, #{tsframepath,jdbcType=VARCHAR}, 
      #{tswait,jdbcType=INTEGER}, #{tsverificationtype,jdbcType=VARCHAR}, #{tsverificationcontent,jdbcType=VARCHAR}, 
      #{tscommon,jdbcType=INTEGER}, #{tsremarks,jdbcType=VARCHAR}, #{tscreatetime,jdbcType=TIMESTAMP}, 
      #{tscreator,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pojo.Autosteps">
    insert into tsautosteps
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tsautostepsid != null">
        tsautostepsid,
      </if>
      <if test="tsname != null">
        tsname,
      </if>
      <if test="tsproductid != null">
        tsproductid,
      </if>
      <if test="tsmoduleid != null">
        tsmoduleid,
      </if>
      <if test="tsselecttype != null">
        tsselecttype,
      </if>
      <if test="tsselectcontent != null">
        tsselectcontent,
      </if>
      <if test="tsactiontype != null">
        tsactiontype,
      </if>
      <if test="tsactioncontent != null">
        tsactioncontent,
      </if>
      <if test="tsframepath != null">
        tsframepath,
      </if>
      <if test="tswait != null">
        tswait,
      </if>
      <if test="tsverificationtype != null">
        tsverificationtype,
      </if>
      <if test="tsverificationcontent != null">
        tsverificationcontent,
      </if>
      <if test="tscommon != null">
        tscommon,
      </if>
      <if test="tsremarks != null">
        tsremarks,
      </if>
      <if test="tscreatetime != null">
        tscreatetime,
      </if>
      <if test="tscreator != null">
        tscreator,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tsautostepsid != null">
        #{tsautostepsid,jdbcType=INTEGER},
      </if>
      <if test="tsname != null">
        #{tsname,jdbcType=VARCHAR},
      </if>
      <if test="tsproductid != null">
        #{tsproductid,jdbcType=INTEGER},
      </if>
      <if test="tsmoduleid != null">
        #{tsmoduleid,jdbcType=INTEGER},
      </if>
      <if test="tsselecttype != null">
        #{tsselecttype,jdbcType=VARCHAR},
      </if>
      <if test="tsselectcontent != null">
        #{tsselectcontent,jdbcType=VARCHAR},
      </if>
      <if test="tsactiontype != null">
        #{tsactiontype,jdbcType=VARCHAR},
      </if>
      <if test="tsactioncontent != null">
        #{tsactioncontent,jdbcType=VARCHAR},
      </if>
      <if test="tsframepath != null">
        #{tsframepath,jdbcType=VARCHAR},
      </if>
      <if test="tswait != null">
        #{tswait,jdbcType=INTEGER},
      </if>
      <if test="tsverificationtype != null">
        #{tsverificationtype,jdbcType=VARCHAR},
      </if>
      <if test="tsverificationcontent != null">
        #{tsverificationcontent,jdbcType=VARCHAR},
      </if>
      <if test="tscommon != null">
        #{tscommon,jdbcType=INTEGER},
      </if>
      <if test="tsremarks != null">
        #{tsremarks,jdbcType=VARCHAR},
      </if>
      <if test="tscreatetime != null">
        #{tscreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="tscreator != null">
        #{tscreator,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pojo.Autosteps">
    update tsautosteps
    <set>
      <if test="tsname != null">
        tsname = #{tsname,jdbcType=VARCHAR},
      </if>
      <if test="tsproductid != null">
        tsproductid = #{tsproductid,jdbcType=INTEGER},
      </if>
      <if test="tsmoduleid != null">
        tsmoduleid = #{tsmoduleid,jdbcType=INTEGER},
      </if>
      <if test="tsselecttype != null">
        tsselecttype = #{tsselecttype,jdbcType=VARCHAR},
      </if>
      <if test="tsselectcontent != null">
        tsselectcontent = #{tsselectcontent,jdbcType=VARCHAR},
      </if>
      <if test="tsactiontype != null">
        tsactiontype = #{tsactiontype,jdbcType=VARCHAR},
      </if>
      <if test="tsactioncontent != null">
        tsactioncontent = #{tsactioncontent,jdbcType=VARCHAR},
      </if>
      <if test="tsframepath != null">
        tsframepath = #{tsframepath,jdbcType=VARCHAR},
      </if>
      <if test="tswait != null">
        tswait = #{tswait,jdbcType=INTEGER},
      </if>
      <if test="tsverificationtype != null">
        tsverificationtype = #{tsverificationtype,jdbcType=VARCHAR},
      </if>
      <if test="tsverificationcontent != null">
        tsverificationcontent = #{tsverificationcontent,jdbcType=VARCHAR},
      </if>
      <if test="tscommon != null">
        tscommon = #{tscommon,jdbcType=INTEGER},
      </if>
      <if test="tsremarks != null">
        tsremarks = #{tsremarks,jdbcType=VARCHAR},
      </if>
      <if test="tscreatetime != null">
        tscreatetime = #{tscreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="tscreator != null">
        tscreator = #{tscreator,jdbcType=VARCHAR},
      </if>
    </set>
    where tsautostepsid = #{tsautostepsid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pojo.Autosteps">
    update tsautosteps
    set tsname = #{tsname,jdbcType=VARCHAR},
      tsproductid = #{tsproductid,jdbcType=INTEGER},
      tsmoduleid = #{tsmoduleid,jdbcType=INTEGER},
      tsselecttype = #{tsselecttype,jdbcType=VARCHAR},
      tsselectcontent = #{tsselectcontent,jdbcType=VARCHAR},
      tsactiontype = #{tsactiontype,jdbcType=VARCHAR},
      tsactioncontent = #{tsactioncontent,jdbcType=VARCHAR},
      tsframepath = #{tsframepath,jdbcType=VARCHAR},
      tswait = #{tswait,jdbcType=INTEGER},
      tsverificationtype = #{tsverificationtype,jdbcType=VARCHAR},
      tsverificationcontent = #{tsverificationcontent,jdbcType=VARCHAR},
      tscommon = #{tscommon,jdbcType=INTEGER},
      tsremarks = #{tsremarks,jdbcType=VARCHAR},
      tscreatetime = #{tscreatetime,jdbcType=TIMESTAMP},
      tscreator = #{tscreator,jdbcType=VARCHAR}
    where tsautostepsid = #{tsautostepsid,jdbcType=INTEGER}
  </update>
</mapper>