<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.ExecutionMapper">
  <resultMap id="BaseResultMap" type="com.pojo.Execution">
    <id column="tsexecutionid" jdbcType="INTEGER" property="tsexecutionid" />
    <result column="tsvalue" jdbcType="VARCHAR" property="tsvalue" />
  </resultMap>
  <sql id="Base_Column_List">
    tsexecutionid, tsvalue
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tsexecution
    where tsexecutionid = #{tsexecutionid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tsexecution
    where tsexecutionid = #{tsexecutionid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.pojo.Execution">
    insert into tsexecution (tsexecutionid, tsvalue)
    values (#{tsexecutionid,jdbcType=INTEGER}, #{tsvalue,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pojo.Execution">
    insert into tsexecution
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tsexecutionid != null">
        tsexecutionid,
      </if>
      <if test="tsvalue != null">
        tsvalue,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tsexecutionid != null">
        #{tsexecutionid,jdbcType=INTEGER},
      </if>
      <if test="tsvalue != null">
        #{tsvalue,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pojo.Execution">
    update tsexecution
    <set>
      <if test="tsvalue != null">
        tsvalue = #{tsvalue,jdbcType=VARCHAR},
      </if>
    </set>
    where tsexecutionid = #{tsexecutionid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pojo.Execution">
    update tsexecution
    set tsvalue = #{tsvalue,jdbcType=VARCHAR}
    where tsexecutionid = #{tsexecutionid,jdbcType=INTEGER}
  </update>
</mapper>