<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.PermissionsMapper">
  <resultMap id="BaseResultMap" type="com.pojo.Permissions">
    <id column="tspermissionsid" jdbcType="INTEGER" property="tspermissionsid" />
    <result column="tsname" jdbcType="VARCHAR" property="tsname" />
    <result column="tsproduct" jdbcType="TINYINT" property="tsproduct" />
    <result column="tstestcase" jdbcType="TINYINT" property="tstestcase" />
    <result column="tsscenes" jdbcType="TINYINT" property="tsscenes" />
    <result column="tsreserved1" jdbcType="TINYINT" property="tsreserved1" />
    <result column="tsreserved2" jdbcType="TINYINT" property="tsreserved2" />
    <result column="tsreserved3" jdbcType="TINYINT" property="tsreserved3" />
  </resultMap>
  <sql id="Base_Column_List">
    tspermissionsid, tsname, tsproduct, tstestcase, tsscenes, tsreserved1, tsreserved2, 
    tsreserved3
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tspermissions
    where tspermissionsid = #{tspermissionsid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tspermissions
    where tspermissionsid = #{tspermissionsid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.pojo.Permissions">
    insert into tspermissions (tspermissionsid, tsname, tsproduct, 
      tstestcase, tsscenes, tsreserved1, 
      tsreserved2, tsreserved3)
    values (#{tspermissionsid,jdbcType=INTEGER}, #{tsname,jdbcType=VARCHAR}, #{tsproduct,jdbcType=TINYINT}, 
      #{tstestcase,jdbcType=TINYINT}, #{tsscenes,jdbcType=TINYINT}, #{tsreserved1,jdbcType=TINYINT}, 
      #{tsreserved2,jdbcType=TINYINT}, #{tsreserved3,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.pojo.Permissions">
    insert into tspermissions
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tspermissionsid != null">
        tspermissionsid,
      </if>
      <if test="tsname != null">
        tsname,
      </if>
      <if test="tsproduct != null">
        tsproduct,
      </if>
      <if test="tstestcase != null">
        tstestcase,
      </if>
      <if test="tsscenes != null">
        tsscenes,
      </if>
      <if test="tsreserved1 != null">
        tsreserved1,
      </if>
      <if test="tsreserved2 != null">
        tsreserved2,
      </if>
      <if test="tsreserved3 != null">
        tsreserved3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tspermissionsid != null">
        #{tspermissionsid,jdbcType=INTEGER},
      </if>
      <if test="tsname != null">
        #{tsname,jdbcType=VARCHAR},
      </if>
      <if test="tsproduct != null">
        #{tsproduct,jdbcType=TINYINT},
      </if>
      <if test="tstestcase != null">
        #{tstestcase,jdbcType=TINYINT},
      </if>
      <if test="tsscenes != null">
        #{tsscenes,jdbcType=TINYINT},
      </if>
      <if test="tsreserved1 != null">
        #{tsreserved1,jdbcType=TINYINT},
      </if>
      <if test="tsreserved2 != null">
        #{tsreserved2,jdbcType=TINYINT},
      </if>
      <if test="tsreserved3 != null">
        #{tsreserved3,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pojo.Permissions">
    update tspermissions
    <set>
      <if test="tsname != null">
        tsname = #{tsname,jdbcType=VARCHAR},
      </if>
      <if test="tsproduct != null">
        tsproduct = #{tsproduct,jdbcType=TINYINT},
      </if>
      <if test="tstestcase != null">
        tstestcase = #{tstestcase,jdbcType=TINYINT},
      </if>
      <if test="tsscenes != null">
        tsscenes = #{tsscenes,jdbcType=TINYINT},
      </if>
      <if test="tsreserved1 != null">
        tsreserved1 = #{tsreserved1,jdbcType=TINYINT},
      </if>
      <if test="tsreserved2 != null">
        tsreserved2 = #{tsreserved2,jdbcType=TINYINT},
      </if>
      <if test="tsreserved3 != null">
        tsreserved3 = #{tsreserved3,jdbcType=TINYINT},
      </if>
    </set>
    where tspermissionsid = #{tspermissionsid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pojo.Permissions">
    update tspermissions
    set tsname = #{tsname,jdbcType=VARCHAR},
      tsproduct = #{tsproduct,jdbcType=TINYINT},
      tstestcase = #{tstestcase,jdbcType=TINYINT},
      tsscenes = #{tsscenes,jdbcType=TINYINT},
      tsreserved1 = #{tsreserved1,jdbcType=TINYINT},
      tsreserved2 = #{tsreserved2,jdbcType=TINYINT},
      tsreserved3 = #{tsreserved3,jdbcType=TINYINT}
    where tspermissionsid = #{tspermissionsid,jdbcType=INTEGER}
  </update>
</mapper>