<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.UICaseStepMapper">
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultType="UICaseStep">
       SELECT  a.tsnum,a.tsautostepsname, a.tsfrontcase, a.tsexpected, a.tsverificationid,
               a.tsverificationcontent, a.tsdebug, a.tsgrade, a.tsregress,a.tssmoke,
               b.tsname, b.tssearchid, b.tssearchcontent, b.tsexecutionid, b.tsiframe, b.tswaittime
               FROM tsuitestcase as a, tsautosteps as b
              where
              find_in_set(b.tsname,a.tsautostepsname)
    </select>
</mapper>