<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.UITestCaseMapper">
  <resultMap id="BaseResultMap" type="com.pojo.UITestCase">
    <id column="tsuitestcaseid" jdbcType="INTEGER" property="tsuitestcaseid" />
    <result column="tsname" jdbcType="VARCHAR" property="tsname" />
    <result column="tsproductid" jdbcType="INTEGER" property="tsproductid" />
    <result column="tsmodulename" jdbcType="VARCHAR" property="tsmodulename" />
    <result column="tsgrade" jdbcType="INTEGER" property="tsgrade" />
    <result column="tsresultid" jdbcType="INTEGER" property="tsresultid" />
    <result column="tscommon" jdbcType="INTEGER" property="tscommon" />
    <result column="tscreatetime" jdbcType="TIMESTAMP" property="tscreatetime" />
    <result column="tscreator" jdbcType="VARCHAR" property="tscreator" />
  </resultMap>
  <sql id="Base_Column_List">
    tsuitestcaseid, tsname, tsproductid, tsmodulename, tsgrade, tsresultid, tscommon, 
    tscreatetime, tscreator
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tsuitestcase
    where tsuitestcaseid = #{tsuitestcaseid,jdbcType=INTEGER}
  </select>
  <select id="selectList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tsuitestcase
    ORDER BY
    tsuitestcaseid
    LIMIT #{offset}, #{limit}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tsuitestcase
    where tsuitestcaseid = #{tsuitestcaseid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.pojo.UITestCase">
    insert into tsuitestcase (tsuitestcaseid, tsname, tsproductid, 
      tsmodulename, tsgrade, tsresultid, 
      tscommon, tscreatetime, tscreator
      )
    values (#{tsuitestcaseid,jdbcType=INTEGER}, #{tsname,jdbcType=VARCHAR}, #{tsproductid,jdbcType=INTEGER}, 
      #{tsmodulename,jdbcType=VARCHAR}, #{tsgrade,jdbcType=INTEGER}, #{tsresultid,jdbcType=INTEGER}, 
      #{tscommon,jdbcType=INTEGER}, #{tscreatetime,jdbcType=TIMESTAMP}, #{tscreator,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pojo.UITestCase">
    insert into tsuitestcase
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tsuitestcaseid != null">
        tsuitestcaseid,
      </if>
      <if test="tsname != null">
        tsname,
      </if>
      <if test="tsproductid != null">
        tsproductid,
      </if>
      <if test="tsmodulename != null">
        tsmodulename,
      </if>
      <if test="tsgrade != null">
        tsgrade,
      </if>
      <if test="tsresultid != null">
        tsresultid,
      </if>
      <if test="tscommon != null">
        tscommon,
      </if>
      <if test="tscreatetime != null">
        tscreatetime,
      </if>
      <if test="tscreator != null">
        tscreator,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tsuitestcaseid != null">
        #{tsuitestcaseid,jdbcType=INTEGER},
      </if>
      <if test="tsname != null">
        #{tsname,jdbcType=VARCHAR},
      </if>
      <if test="tsproductid != null">
        #{tsproductid,jdbcType=INTEGER},
      </if>
      <if test="tsmodulename != null">
        #{tsmodulename,jdbcType=VARCHAR},
      </if>
      <if test="tsgrade != null">
        #{tsgrade,jdbcType=INTEGER},
      </if>
      <if test="tsresultid != null">
        #{tsresultid,jdbcType=INTEGER},
      </if>
      <if test="tscommon != null">
        #{tscommon,jdbcType=INTEGER},
      </if>
      <if test="tscreatetime != null">
        #{tscreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="tscreator != null">
        #{tscreator,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pojo.UITestCase">
    update tsuitestcase
    <set>
      <if test="tsname != null">
        tsname = #{tsname,jdbcType=VARCHAR},
      </if>
      <if test="tsproductid != null">
        tsproductid = #{tsproductid,jdbcType=INTEGER},
      </if>
      <if test="tsmodulename != null">
        tsmodulename = #{tsmodulename,jdbcType=VARCHAR},
      </if>
      <if test="tsgrade != null">
        tsgrade = #{tsgrade,jdbcType=INTEGER},
      </if>
      <if test="tsresultid != null">
        tsresultid = #{tsresultid,jdbcType=INTEGER},
      </if>
      <if test="tscommon != null">
        tscommon = #{tscommon,jdbcType=INTEGER},
      </if>
      <if test="tscreatetime != null">
        tscreatetime = #{tscreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="tscreator != null">
        tscreator = #{tscreator,jdbcType=VARCHAR},
      </if>
    </set>
    where tsuitestcaseid = #{tsuitestcaseid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pojo.UITestCase">
    update tsuitestcase
    set tsname = #{tsname,jdbcType=VARCHAR},
      tsproductid = #{tsproductid,jdbcType=INTEGER},
      tsmodulename = #{tsmodulename,jdbcType=VARCHAR},
      tsgrade = #{tsgrade,jdbcType=INTEGER},
      tsresultid = #{tsresultid,jdbcType=INTEGER},
      tscommon = #{tscommon,jdbcType=INTEGER},
      tscreatetime = #{tscreatetime,jdbcType=TIMESTAMP},
      tscreator = #{tscreator,jdbcType=VARCHAR}
    where tsuitestcaseid = #{tsuitestcaseid,jdbcType=INTEGER}
  </update>
</mapper>